.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: fit-content;
  height: auto;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: var(--background-color);
  filter: brightness(0.9);
  transition: all 0.2s ease-out;
}
