li {
  cursor: pointer;
  width: 100%;
  padding: var(--md);
}

li:hover {
  background: var(--accent-color);
  transition: all 0.2s ease-in-out;
}

button {
  background-color: transparent;
  border: none;
  padding: none;
  margin: none;
  cursor: pointer;
  color: white;
}

.selected {
  background-color: var(--accent-color);
  filter: brightness(1.4);
  transition: all 0.2s ease-in-out;
}
