:host {
  display: flex;
  flex: 1;
  height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
  padding: var(--med-padding);
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--md);
  overflow: hidden;
  /* border: 6px solid blue; */
}

.main-content {
  display: flex;
  flex: 1;
}

.wrapper {
  display: flex;
  flex: 1;
}
