<mat-toolbar>
  <span>TodoList</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openLoginDialog()">Login</button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!-- mat-icon-button -->
<!-- <mat-icon>favorite</mat-icon> -->
<!-- <button class="example-icon" aria-label="Example icon-button with share icon">
    <h1>Login</h1>
    <mat-icon>share</mat-icon>
  </button> -->
