mat-toolbar {
  background: none;
  min-width: fit-content;
  display: flex;
  gap: var(--md);
  font-family: inherit;
}

mat-toolbar h1 {
  font-family: inherit;
}

button {
  background-color: transparent;
  border: none;
  padding: var(--sm);
  margin: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
