@if (isReady()) {
<mat-card appearance="outlined">
  <mat-card-content
    ><div class="heading">
      <div class="title">
        <h1>{{ todoListSignal()!.title }}</h1>
        <div class="right">
          @if (todoListSignal()!.public_list) {
          <mat-icon matTooltip="Public list">public</mat-icon>
          }

          <!-- Owned List -->
          @if (todoListSignal()!.created_by === this.authSvc.UserSignal()?.id) {
          <mat-icon matTooltip="My list">person</mat-icon>
          <button (click)="openDialog('add-item')">
            <mat-icon matTooltip="Add List Item">add_circle</mat-icon>
          </button>
          <button>
            <mat-icon
              matTooltip="Delete List"
              (click)="openDialog('delete-list')"
              >delete</mat-icon
            >
          </button>
          <button (click)="openDialog('share-list')">
            <mat-icon matTooltip="Share List">ios_share</mat-icon>
          </button>
          }

          <!-- Shared With Me -->
          @if (this.isSharedWithUser()) {
          <button (click)="openDialog('add-item')">
            <mat-icon matTooltip="Add List Item">add_circle</mat-icon>
          </button>
          <mat-icon matTooltip="Shared with me">group</mat-icon>
          }
        </div>
      </div>
      <h3>
        Created on: {{ todoListSignal()!.created_at | date : "MMMM d, y" }}
      </h3>
    </div>
    <div class="list_items">
      @for (item of visibleItems(); track item.id) {
      <mat-checkbox
        class="example-margin"
        [disabled]="isDisabled()"
        [checked]="item.completed"
      >
        <p>{{ item.task }}</p></mat-checkbox
      >

      }
    </div>
  </mat-card-content>
</mat-card>

}
