<mat-card appearance="outlined">
  <mat-card-content
    ><div class="heading">
      <h1>{{ todoListSignal()!.title }}</h1>
      <h3>
        Created on: {{ todoListSignal()!.created_at | date : "MMMM d, y" }}
      </h3>
    </div>
    <div class="list_items">
      @for (item of todoListSignal()!.list_items; track item.id) {
      <mat-checkbox
        class="example-margin"
        [disabled]="isDisabled()"
        [checked]="item.completed"
      >
        <p>{{ item.task }}</p></mat-checkbox
      >

      }
    </div>
  </mat-card-content>
</mat-card>
