mat-card {
  border-radius: var(--sm);
  padding: var(--md);
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: var(--md);
}

.list_items {
  display: flex;
  flex-direction: column;
  gap: var(--md);
}

h3 {
  font-weight: 300;
  color: var(--secondary-color);
}
