.sidebar {
  height: 100%;
  padding: var(--med-padding);
  background-color: antiquewhite;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul {
  display: flex;
  flex-direction: column;
  row-gap: var(--lg);
}

li {
  padding: 12px;
  cursor: pointer;
  border-bottom: 2px solid white;
  background-color: antiquewhite;
  cursor: pointer;
}

button {
  padding: 4px 10px;
}
