<aside class="sidebar">
  <div class="actions">
    @for (option of this.options; track $index) {
    <button
      mat-raised-button
      [ngClass]="{ selected: selectedOption() === $index }"
      (click)="toggleOption($index)"
    >
      {{ option }}
    </button>
    }
  </div>
  <div class="todolists">
    <ul>
      @for (todolist of todoSvc.TodoListsSignal(); track todolist.id) {
      <li>
        <app-todolist-tab [TodoList]="todolist">{{
          todolist
        }}</app-todolist-tab>
      </li>
      }
    </ul>
  </div>
</aside>
