<aside class="sidebar">
  <div class="">
    <ul></ul>
    <ul>
      <!-- @for (todolists of visibleTodoLists; track todolists.id) {
      <li>
        <app-todolist-tab>{{ todolists }}</app-todolist-tab>
      </li>
      } -->
      <app-todolist-tab></app-todolist-tab>
      <app-todolist-tab></app-todolist-tab>
      <app-todolist-tab></app-todolist-tab>
      <app-todolist-tab></app-todolist-tab>
      <app-todolist-tab></app-todolist-tab>
      <app-todolist-tab></app-todolist-tab>
    </ul>
  </div>
</aside>
